.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.6747em 5.3em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.arrow:before {
      background-position: 0em 0em;
      width: 2.3985em;
      height: 1.3979em;
  }




  .icon.medal:before {
      background-position: 0em -1.4em;
      width: 2.6747em;
      height: 3.8997em;
  }





